/MyFavoritePlaces.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/MyFavoritePlaces.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/MyFavoritePlaces.xcodeproj/project.xcworkspace/xcuserdata/aleksejganzickij.xcuserdatad/UserInterfaceState.xcuserstate
/MyFavoritePlaces.xcodeproj/xcshareddata/xcschemes/MyFavoritePlaces.xcscheme
/MyFavoritePlaces.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/MyFavoritePlaces.xcodeproj/xcuserdata/aleksejganzickij.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods
/MyFavoritePlaces.xcworkspace/xcuserdata/aleksejganzickij.xcuserdatad/UserInterfaceState.xcuserstate
